@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');

}
@font-face {
font-family: "Poppins_Regular";
src: url('/Poppins-Regular.ttf');

}
@font-face {
font-family: "Poppins_SemiBold";
src: url('../public/Poppins-SemiBold.ttf');

}

.main-bg{
  background: url("./assets/heavy_rain.jpg");
}